.row
  .col-md-12
    = form_tag(search_path, method: 'get', class: 'search-form') do
      .form-group.row
        %label.col-md-4.col-form-label{ for: 'type' } Select cat type:
        .col-md-8
          = cats_types_select_tag(search_params[:type])

      .form-group.row
        %label.col-md-4.col-form-label{ for: 'location' } Select your location:
        .col-md-8
          = locations_select_tag(search_params[:location])

      = submit_tag 'Find me a 😻', class: 'btn btn-success'
