.landing-page.full-height.gradient-bg
  .container
    .row
      .col-md-6
        %h1 Welcome to CatsFinder!
        %p Find best cats offers from dozens of dealers in no time!

        = render partial: 'search_form'
      .col-md-6.text-center
        = random_landing_image_tag
