.row
  .col-md-12
    = form_tag(search_path, method: 'get', class: 'search-form form-row') do
      .form-group.col-md-6
        %label{:for => 'type'} Select cat type:
        = select_tag('type', options_for_select(%w(Bengal Abyssin Persian), search_params[:type]), class: 'form-control')

      .form-group.col-md-6
        %label{:for => 'location'} Select your location:
        = select_tag('location', options_for_select(%w(Lviv Kiev Odessa), search_params[:location]), class: 'form-control')

      %div= submit_tag 'Search', class: 'btn btn-primary'
