- if @cats.size > 0
  %table.table.table-striped
    %thead
      %tr
        %th Type
        %th Price
        %th Location
        %th Image
    %tbody
      - @cats.each do |cat|
        %tr
          %td= cat[:type]
          %td= cat[:price]
          %td= cat[:location]
          %td= image_tag(cat[:image], width: '150px')
- else
  %p
    Sorry, no cats for your location
